*{
    font-family: Roboto;
}

#header1{
    background-color: #ff5fa2;
    text-align: center;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    padding: .5em;   
}

nav {
    display: flex;
    align-items: left;
    justify-content: space-around;
    flex-wrap: wrap;
}

#TWICEL {
    margin-left: 1%;
    left: 0%;
}

[href]{
    color: whitesmoke;
    text-decoration: none;
}

#header-nav{
    background-color: #fe97a4;
    text-align: center;
    position: fixed;
    left: 0%;
    right: 0%;
    margin-top : 3em;
    padding-bottom : .1em;
}

h5{
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10%;
}

html, body{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
}

.headerFont{
    color: whitesmoke;
    font-size: 175%;
}

section{
    padding-top: 8rem;
    display: flex;
    justify-content: space-around;
    gap: 10%;
    flex-wrap: wrap;
}

.picFormat{
    display: flex;
    justify-content: space-around;
    gap: 10%;
    flex-wrap: wrap;
}

figure {
    text-align: center;
}

#latestMusic{
    justify-items: center;
    padding-left: 4em;
}


#favStan{
    font-size: 25px;
    align-items: left;
    justify-items: center;
    padding-left: 4em;
    padding-bottom: 3em;
}

#btnSubmit{
    margin-top: 10%;
    font-size: 50px;
    border: none;
    border-radius: 5px;
    background-color: #fdb3a5;
    color: whitesmoke;
}

#btnSubmit:hover{
    transform: scale(140%);
    color: #fdb3a5;
    background-color: white;
    border: solid #fdb3a5;
}