*{
    font-family: Roboto;
}

#header1{
    background-color: #ff5fa2;
    text-align: center;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    padding: .5em;   
}

nav {
    display: flex;
    align-items: left;
    justify-content: left;
    gap: 1rem;
    flex-wrap: wrap;
}

#TWICEL {
    color: #ff5fa2;
    margin-left: 1%;
    left: 0%;
}

.nav1:hover{
    color: #ff5fa2;
}

[href]{
    color: whitesmoke;
    text-decoration: none;
}

#header-nav{
    background-color: #fe97a4;
    text-align: center;
    position: fixed;
    left: 0%;
    right: 0%;
    margin-top : 3em;
    padding-bottom : .1em;
}

h5{
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10%;
}

html, body{
    background-color: #fcc;
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
}

section{
    padding-top: 8rem;
    padding-left: 30rem;
    padding-right: 30rem;
    display: flex;
    flex-direction: column;
}

figure{

}

figcaption{
    margin-top: 5%;
    text-align: left;
}

.img1 {
    border: solid black;
    border-radius: 150px;
    width: 400px;
    aspect-ratio: 635 / 898; 
    align-items: flex-start;
    margin-right: 5%;
    float: left;
}

.lovely {
    border: solid black;
    border-radius: 1000px;
    width: 300px;
    aspect-ratio: 736 / 736; 
}

.headerFont{
    color: whitesmoke;
    font-size: 175%;
}

footer{
    background-color: #ff5fa2;
    height: 5em;
    left: 0%;
    right: 0%;
    bottom: 0%;  
}